* {margin:0; padding:0; font-family:"Nanum Gothic"; list-style:none; box-sizing:border-box;}

body {font-size:14px;}

::-webkit-scrollbar {width:4px; height:4px;}
::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,0.3); border-radius:4px;}
::-webkit-scrollbar-track {background-color:rgba(155,155,155,0.5); border-radius:4px;}

input {vertical-align:middle;}
input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="url"], input[type="search"], input[type="file"], textarea {height:42px; padding:0 15px; background-color:#fff; border:1px solid #e8e5e2; border-radius:0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}

button {border:0; cursor:pointer;}

.input i {font-style:normal;}

code {font-size:14px; font-family:"Nanum Gothic Coding";}